/FuncionalidadGenerarResenia/target/
/FuncionalidadProductosDelUsuario/target/
/FuncionalidadReseniasPorProducto/target/
/FuncionalidadPagoPorTarjeta/target/
/FuncionalidadPagoPorOxxo/target/
/PeliculasAvanzadas_247253/target/
/ProyectoDisenioGibran-main/AgregerProductoFuncionalidad/target/
/ProyectoDisenioGibran-main/ComprarProductoFuncionalidad/target/
/ProyectoDisenioGibran-main/FuncionalidadGestionUsuarios/target/
/ProyectoDisenioGibran-main/FuncionalidadListaProductosPorNombre/target/
/ProyectoDisenioGibran-main/LibraryAccessDTO/target/
/ProyectoDisenioGibran-main/LibraryAccessPresentacion-main/target/
/ProyectoDisenioGibran-main/NegocioLibraryAccess/target/
/ProyectoDisenioGibran-main/PersistenciaLibraryAccess/target/
/ProyectoDisenioGibran-main/GenerarTicketFuncionalidad/target/
/ProyectoDisenioGibran-main/FuncionalidadReseniasPorProducto/target/
/ProyectoDisenioGibran-main/FuncionalidadProductosDelUsuario/target/
/ProyectoDisenioGibran-main/FuncionalidadPagoPorTarjeta/target/
/ProyectoDisenioGibran-main/FuncionalidadPagoPorOxxo/target/
/ProyectoDisenioGibran-main/FuncionalidadGenerarResenia/target/
/FuncionalidadBusquedaHistorialPorUsuario/target/
